body {
    background-color: #eceff1;
}


.chart {
    position: relative;
}

.calcTable {
    position: absolute;
    width: 35%;
    align-self: right;
    top: 90%;
    right: 0%;
}

.chartBody {
    position: absolute;
    height: 85%;
    width: 97%;
    left: 1.5%;
    top: 10%;
}

.tradeTable {
    position: absolute;
    width: 35%;
    top: 0%;
    right: 0%;
}

@media only screen and (max-width: 1000px){
    .tradeTable {
        position: relative;
        width: 100%;
        bottom: 0%;  
    }
    .chartBody {
        position: sticky;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #455a64;
  }